


html {
    background-color: white;
}
body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Raleway', sans-serif;
    
}
body {
    margin: 0;
    padding: 0;
    background: white;
 }
 .hero {
    position: relative;
    width: 100vw;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
 }
 /* .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(70%);
 } */
 .hero-content {
    position: relative;
    color: black;
    text-align: center;
    margin: 0rem;
    padding-left: 0%;

 }
 .hero-title {
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0;
    border-bottom: 1px solid #fec006;
 }
 .hero-subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
    font-family: 'Roboto', sans-serif;
    
 }
 a:active {
    color: #ae8a28;
    text-decoration: none;

 }
 a:link {
     color: black;
     text-decoration: none;
 }

 a:hover {
     color: #fec006;
     text-decoration: none;
 }

 a:active {
     color: #fec006;
     text-decoration: none;
 }
 #contact-clicks {
    
    color: black;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    font-weight: 200;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
 }
 #contact-clicks:hover {
    color: #fec006;
    text-decoration: none;
    
 }

/* .navbar {
    background-color: white;
} */

#brand {
    /* position: relative; */
    /* z-index: 1; */
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
    width: 6%;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: black */
}

.headshot {
    width: 80%;
}




h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
    color: black;

}

h5 {
    color: black;
}

p {
    font-family: 'Roboto', sans-serif;
    color: black;
}

.bg {
    /* The image used */
    /* background-image: url("../assets/images/sugi-ban-wallpaper.jpg"); */
    background-color: white;
    background-repeat: repeat-y;
    background-size: 100vw;
    background-attachment: fixed; 
}

#bio{
    /* display: block; */
    /* height: 80vh; */
    /* margin: 0% 0% 0% 0%; */
    padding-top: 35vh;
    /* z-index: 1; */
}

#headshot {
    size: fit-content;

}

.portfolio-container {
    padding-top: 35vh;
}


#portfolio-img {
    opacity: 100;
    color: white;
    /* z-index: 1; */
    background-color: white;
}

#portfolio-img:hover {
    opacity: .8;

}

nav a {
    color: black;
    border-bottom: 1px solid #fec006;
    /* line-height: 5rem; */
    padding-bottom: .5rem;
    
}

#portfolio-title {
    color: black;
    /* background-color: white; */
    /* z-index: 3; */
    /* text-decoration-line: underline; */
    border-bottom: 1px solid #fec006 ;

    margin-left: auto;
    margin-right: auto;
    font-family: 'Raleway', sans-serif;
}

/* card-title {
    margin: 1rem;
    padding: 1rem;
    align-self: left;
}

.card-text {
    margin: 1rem;
}

.card-subtitle {
    margin: 1rem
} */


#footer {
    bottom: 0;
    width: 100%;
    position: absolute;
}
    
    

    .footer-block {
        
        /* border-top: 1px solid white; */
    }

    @media only screen and (max-width: 700px) {
        bg {
            size: 100%;
            
        }
        #portfolio-title {
            color: white;
            /* z-index: 3; */
            margin-left: 15rem;
            margin-right: auto;
        }
        .headshot {
            width: 50vw;
        }
        #bio{
            /* display: block; */
            height: 10vh;
            padding-top: 5vh;
            /* margin: 0% 0% 0% 0%; */
            /* padding-top: 45vh; */
            
            /* z-index: 1; */
        }
    }


        @media only screen and (max-width: 1000px) {
            /* #brand {
                opacity: 0.5;
                margin-left: auto;
                margin-right: auto;
                width: 50vw;
            
               
        
            } */
            #bio{
                display: block;
                /* height: 80vh; */
                margin: 0 0 0 0%;
                padding-left: 10%;
                /* z-index: 1; */
            }}
            @media only screen and (max-width: 700px) {
                /* #brand {
                    opacity: 0.4;
                    margin-left: auto;
                    margin-right: auto;
                    width: 80vw;
                    padding: 25% 0 0 15%;
                    z-index: 0;
                    
        
                } */
                .hero-content {
                    position: relative;
                    color: white;
                    text-align: left;
                    margin: 0rem;
                    padding-left: 0%;
                    /* z-index: 1; */
                 }
                 .hero-title {
                    font-size: 3rem;
                    font-weight: 600;
                    font-family: 'Raleway', sans-serif;
                    margin-bottom: 0;
                 }
                 .hero-subtitle {
                    font-size: 2rem;
                    font-weight: 200;
                    margin-top: 1rem;
                    font-family: 'Roboto', sans-serif;
                 }
                #bio{
                    display: block;
                    height: 80vh;
                    margin: 0% 0% 0% 0%;
                    padding-left: 0%;
                    /* z-index: 1; */
                }
                #portfolio-title {
                    color: black;
                    /* z-index: 1; */
                    margin-left: auto;
                    margin-right: auto;
                }}
        
        