
.bgimage {
    width:100%;
    height:500px;
    background: url('/assets/images/walker.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
  }
  .bgimage h5 {
    color:white;
    text-shadow:2px 2px #333;
  }


html {
    background-color: white;
}
body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Raleway', sans-serif;
    
}
body {
    margin: 0;
    padding: 0;
    background: white;
 }

 .landingsection {
     padding-top: 60px;
 }

 .clientLogo {
     width: 75%;
     /* height: 60px; */
     margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
     
 }

 .clientList {
     align-content: center;
     margin-top: auto;
     margin-bottom: auto;
     padding-top: 10px;
 }
 .hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: left;
    z-index: 9;
 }
 /* .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(70%);
 } */
 .hero-content {
    position: relative;
    color: black;
    text-align: center;
    margin: 0rem;
    padding-left: 0%;
    padding-top: 5vh;

 }
 .heroheadshot{
     width: 15vw;
 }

 .topimage {
     width: 100%;

     
 }

 /* Slideshow container */
.slideshow-container {
    position: relative;
    /* background-color:; */
    width: 100%;
    height:200px;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    margin-left: 2rem;
    margin-right: 4rem;
    width: 65vw;
    height: 100%;
    
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    /* color: #888; */
    /* font-weight: bold; */
    /* font-size: 20px; */
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: #fec006;
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
    text-align: center;
    padding: 20px;
    padding-top: 30px;
    /* background: #ddd; */
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #291F06;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .dotty, .dot:hover {
    background-color: #fec006;
  }
  

 .hero-title {
    clear: both;
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0;
    /* border-bottom: 1px solid #fec006; */
 }
 .hero-subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
    font-family: 'Roboto', sans-serif;
    
 }
 a:active {
    color: #ae8a28;
    text-decoration: none;

 }
 a:link {
     color: black;
     text-decoration: none;
 }

 a:hover {
     color: #fec006;
     text-decoration: none;
 }

 a:active {
     color: #fec006;
     text-decoration: none;
 }
 #contact-clicks {
    
    color: black;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    font-weight: 200;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
 }
 #contact-clicks:hover {
    color: #fec006;
    text-decoration: none;
    
 }

/* .navbar {
    background-color: white;
} */

#brand {
    /* position: relative; */
    /* z-index: 1; */
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
    width: 6%;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: black */
}

.headshot {
   
}

.btn-floating {
    background-color: #fec006;
    box-shadow: 3px 3px 5px #b08f26
}

/* .btn-floating:hover {
    background-color: #fec006;
    box-shadow: 3px 3px 5px #b08f26
} */

.btn-floating:hover {
    background-color: #fec006;
    box-shadow: inset 3px 3px 5px #291F06;
}




h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
    color: black;

}

h5 {
    color: black;
}

p {
    font-family: 'Roboto', sans-serif;
    color: black;
}

strong {
    font-weight: 700;
}

.bg {
    /* The image used */
    /* background-image: url("../assets/images/sugi-ban-wallpaper.jpg"); */
    background-color: white;
    background-repeat: repeat-y;
    background-size: 100vw;
    background-attachment: fixed; 
}

.banner {
    width: 100vw;
    overflow: hidden;
    height: 20vh;
    
}

.banner-img {
    width: 150vw;
    margin-top: -5%;
}

.processshot {
    width: 100%;
    overflow: hidden;
    /* height: 20vh; */
    
}

.process-img {
    /* width: 150vw; */
    /* margin-top: -5%; */
    width: 100%;
    cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
}

#bio{
    /* display: block; */
    /* height: 80vh; */
    /* margin: 1rem 1rem 1rem 1rem; */
    padding: 2rem 2rem 2rem 2rem;
    /* z-index: 1; */
}

.tldr {
    background-color: #F7F7F7;
    padding: 1rem;
    margin: 0rem 0rem 2rem 0rem;
    border: 1px solid #C9C9C9;
}

.headshotContainer {
    width: 100%;
    overflow: auto;
}
.headshot {
    width: 100%;
    /* size: fit-content; */

}

.portfolio-container {
    padding-top: 35vh;
}


#portfolio-img {
    opacity: 100;
    color: white;
    /* z-index: 1; */
    background-color: white;
}

#portfolio-img:hover {
    opacity: .8;

}

.storyThumb {
    object-fit: cover;
}

nav a {
    color: black;
    border-bottom: 1px solid #fec006;
    /* line-height: 5rem; */
    padding-bottom: .5rem;
    
}

#portfolio-title {
    color: black;
    /* background-color: white; */
    /* z-index: 3; */
    /* text-decoration-line: underline; */
    border-bottom: 1px solid #fec006 ;

    margin-left: auto;
    margin-right: auto;
    font-family: 'Raleway', sans-serif;
}

/* card-title {
    margin: 1rem;
    padding: 1rem;
    align-self: left;
}

.card-text {
    margin: 1rem;
}

.card-subtitle {
    margin: 1rem
} */


#footer {
    bottom: 0;
    width: 100%;
    position: absolute;
}
    
    

    .footer-block {
        
        /* border-top: 1px solid white; */
    }

    @media only screen and (max-width: 700px) {
        bg {
            size: 100%;
            
        }
        #portfolio-title {
            color: white;
            /* z-index: 3; */
            margin-left: 15rem;
            margin-right: auto;
        }
        .headshot {
            width: 50vw;
        }
        #bio{
            /* display: block; */
            height: 10vh;
            padding-top: 5vh;
            /* margin: 0% 0% 0% 0%; */
            /* padding-top: 45vh; */
            
            /* z-index: 1; */
        }

        .slideshow-container {
          
            height:350px;
          }
    }


        @media only screen and (max-width: 1000px) {
            /* #brand {
                opacity: 0.5;
                margin-left: auto;
                margin-right: auto;
                width: 50vw;
            
               
        
            } */
            #bio{
                display: block;
                /* height: 80vh; */
                margin: 0 0 0 0%;
                padding-left: 10%;
                /* z-index: 1; */
            }}
            @media only screen and (max-width: 700px) {
                /* #brand {
                    opacity: 0.4;
                    margin-left: auto;
                    margin-right: auto;
                    width: 80vw;
                    padding: 25% 0 0 15%;
                    z-index: 0;
                    
        
                } */
                .hero-content {
                    position: relative;
                    color: white;
                    text-align: left;
                    margin: 0rem;
                    padding-left: 0%;
                    /* z-index: 1; */
                 }
                 .hero-title {
                    font-size: 3rem;
                    font-weight: 600;
                    font-family: 'Raleway', sans-serif;
                    margin-bottom: 0;
                 }
                 .hero-subtitle {
                    font-size: 2rem;
                    font-weight: 200;
                    margin-top: 1rem;
                    font-family: 'Roboto', sans-serif;
                 }
                #bio{
                    display: block;
                    height: 80vh;
                    margin: 0% 0% 0% 0%;
                    padding-left: 0%;
                    /* z-index: 1; */
                }
                #portfolio-title {
                    color: black;
                    /* z-index: 1; */
                    margin-left: auto;
                    margin-right: auto;
                }}
        
                @import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700);

             
                .tiles {
                  position: relative;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 500px;
                  /* object-fit: scale-down; */
                }
              
                .tile {
                  position: relative;
                  float: left;
                  max-width: 100vw;
                  width: 100%;
                  height: 100%;
                  overflow: auto;
                  
                }
              
                .photo {
                
                  position: relative;
                  object-fit: contain;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background-repeat: no-repeat;
                  background-position: center;
                  background-size: cover;
                  transition: transform 0.2s ease-out;
                }
              
                .txt {
                  position: absolute;
                  z-index: 2;
                  right: 0;
                  bottom: 10%;
                  left: 0;
                  font-family: 'Roboto Slab', serif;
                  font-size: 9px;
                  line-height: 12px;
                  text-align: center;
                  cursor: default;
                }
              
                .x {
                  font-size: 32px;
                  line-height: 32px;
                } 
              