body,
html {
    height: 100%;
    background-color: #343a40;
}

.bg {
    /* The image used */
    background-image: url("background.jpg");

    /* Full height */
    /* height: 100%; */

    /* Center and scale the image nicely */
    /* background-position: center; */
    background-repeat: repeat-y;
    background-size: 100%;
    min-height: 90vh;
}
.card {
    background-color: transparent;
    border: none;
}

#footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: $height-footer;
}
    
    

    .footer-block {
        
        /* border-top: 1px solid white; */
    }