<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ben - Responsive HTML5 Portfolio Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="css/core.css">
    <link rel="stylesheet" type="text/css" href="css/elements.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link rel="icon" type="image/png" href="favicon.png?version=4">
  </head>
  <body class="preload">
    <div class="container-fluid"> 
      <header>
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="col-md-12 text-center"><a href="index.html" class="brand"><img alt="Ben" src="images/logo.svg" class="default"><img alt="Ben" src="images/logo-white.svg" class="white"></a>
            </div>
          </div>
        </div>
      </header>
      <section class="content mb-md text-center fadein">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 mb-lg">
            <h2 class="animated-text">A responsive portfolio website template that is simple but effective for all types of creatives.</h2>
          </div>
        </div>
      </section>
      <section class="grid-portfolio fadein">
        <div class="grid-images">
          <div class="item-sizer"></div><a href="index-full.html" style="background-image: url(images/index/full.jpg)" class="item">
            <div class="caption">
              <h4>Full-size</h4>
            </div></a><a href="index-titan.html" style="background-image: url(images/index/titan-slider.jpg)" class="item">
            <div class="caption">
              <h4>Titan Slider</h4>
            </div></a><a href="index-classic-space.html" style="background-image: url(images/index/classic-space.jpg)" class="item">
            <div class="caption">
              <h4>Classic - Space</h4>
            </div></a><a href="index-masonry-space.html" style="background-image: url(images/index/masonry-space.jpg)" class="item">
            <div class="caption">
              <h4>Masonry - Space</h4>
            </div></a><a href="index-classic.html" style="background-image: url(images/index/classic.jpg)" class="item">
            <div class="caption">
              <h4>Classic</h4>
            </div></a><a href="index-masonry.html" style="background-image: url(images/index/masonry.jpg)" class="item">
            <div class="caption">
              <h4>Masonry</h4>
            </div></a>
        </div>
      </section>
      <footer>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 text-center"><span>&copy; Ben Template. <a href="https://themeforest.net/item/ben-creative-portfolio-html-template/19113557">Buy Ben</a></span></div>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/functions.js"></script>
  </body>
</html>