<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ben - Responsive HTML5 Portfolio Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="css/core.css">
    <link rel="stylesheet" type="text/css" href="css/elements.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link rel="icon" type="image/png" href="favicon.png?version=4">
  </head>
  <body class="preload">
    <div class="container-fluid no-spacing">
      <header>
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="col-md-12 text-center"><a href="index.html" class="brand"><img alt="Ben" src="images/logo.svg" class="default"><img alt="Ben" src="images/logo-white.svg" class="white"></a>
              <ul class="main-nav">
                <li><a href="index.html" title="Work" class="active">Work</a>
                </li>
                <li><a href="pages/about.html" title="About">About</a>
                </li>
                <li><a href="pages/blog.html" title="Blog">Blog</a>
                </li>
                <li><a href="pages/contact.html" title="Contact">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <div class="slider fs fadein">
        <ul class="slides">
                <li style="background-image: url(images/portfolio/red-book.jpg)" class="slide dark">
                  <div class="vcenter text-center">
                    <div class="container">
                      <h1>Inside</h1>
                      <p>The lives of addicts</p><a href="pages/work-single.html" class="mt-lg btn btn-primary">View Project</a>
                    </div>
                  </div>
                </li>
                <li style="background-image: url(images/portfolio/face-side.jpg)" class="slide dark">
                  <div class="vcenter text-center">
                    <div class="container">
                      <h1>Side project</h1>
                      <p>Portrait studies</p><a href="pages/work-single.html" class="mt-lg btn btn-primary">View Project</a>
                    </div>
                  </div>
                </li>
                <li style="background-image: url(images/portfolio/face-front.jpg)" class="slide dark">
                  <div class="vcenter text-center">
                    <div class="container">
                      <h1>The Frontend</h1>
                      <p>A creative process</p><a href="pages/work-single.html" class="mt-lg btn btn-primary">View Project</a>
                    </div>
                  </div>
                </li>
        </ul>
      </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/functions.js"></script>
    <script src="modules/titan-slider/titan-slider.js"></script>
  </body>
</html>