<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ben - Responsive HTML5 Portfolio Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="css/core.css">
    <link rel="stylesheet" type="text/css" href="css/elements.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link rel="icon" type="image/png" href="favicon.png?version=4">
  </head>
  <body class="preload">
    <div class="container-fluid"> 
      <header>
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="col-md-12 text-center"><a href="index.html" class="brand"><img alt="Ben" src="images/logo.svg" class="default"><img alt="Ben" src="images/logo-white.svg" class="white"></a>
              <ul class="main-nav">
                <li><a href="index.html" title="Work" class="active">Work</a>
                </li>
                <li><a href="pages/about.html" title="About">About</a>
                </li>
                <li><a href="pages/blog.html" title="Blog">Blog</a>
                </li>
                <li><a href="pages/contact.html" title="Contact">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <section class="grid-portfolio fadein">
        <div class="grid-images">
          <div class="item-sizer"></div><a href="pages/work-single.html" style="background-image: url(images/portfolio/wake-up.jpg)" class="item">
            <div class="caption">
              <h4>Wakey wakey</h4>
            </div></a><a href="images/portfolio/blue-bag.jpg" style="background-image: url(images/portfolio/blue-bag.jpg)" class="item lightbox">
            <div class="caption">
              <h4>Saints Bag / lightbox</h4>
            </div></a><a href="pages/work-single.html" style="background-image: url(images/portfolio/face-front.jpg)" class="item">
            <div class="caption">
              <h4>Engage</h4>
            </div></a><a href="pages/work-single.html" style="background-image: url(images/portfolio/yellow-book.jpg)" class="item">
            <div class="caption">
              <h4>Nasty Paper</h4>
            </div></a><a href="images/portfolio/vui.jpg" style="background-image: url(images/portfolio/vui.jpg)" class="item lightbox">
            <div class="caption">
              <h4>Pluch / lightbox</h4>
            </div></a><a href="pages/work-single.html" style="background-image: url(images/portfolio/logo-a.jpg)" class="item">
            <div class="caption">
              <h4>Vpside down</h4>
            </div></a>
        </div>
      </section>
      <footer>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 text-center"><span>&copy; Ben Template. <a href="https://themeforest.net/item/ben-creative-portfolio-html-template/19113557">Buy Ben</a></span></div>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/functions.js"></script>
    <script src="modules/tera-lightbox/tera-lightbox.js"></script>
  </body>
</html>