<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ben - Responsive HTML5 Portfolio Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="css/core.css">
    <link rel="stylesheet" type="text/css" href="css/elements.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link rel="icon" type="image/png" href="favicon.png?version=4">
  </head>
  <body class="preload fs">
    <div class="container-fluid"> 
      <header>
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="col-md-12 text-center"><a href="index.html" class="brand"><img alt="Ben" src="images/logo.svg" class="default"><img alt="Ben" src="images/logo-white.svg" class="white"></a>
              <ul class="main-nav">
                <li><a href="index.html" title="Work" class="active">Work</a>
                </li>
                <li><a href="pages/about.html" title="About">About</a>
                </li>
                <li><a href="pages/blog.html" title="Blog">Blog</a>
                </li>
                <li><a href="pages/contact.html" title="Contact">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <section class="fs-portfolio fadein">
        <ul class="fs-images">
          <li style="background-image: url(images/portfolio/wake-up.jpg)">
            <h1>Wakey wakey</h1>
          </li>
          <li style="background-image: url(images/portfolio/blue-bag.jpg)">
            <h1>Saints Bag</h1>
          </li>
          <li style="background-image: url(images/portfolio/face-side.jpg)">
            <h1>67 Jewelry</h1>
          </li>
          <li style="background-image: url(images/portfolio/yellow-book.jpg)">
            <h1>Nasty Paper</h1>
          </li>
          <li style="background-image: url(images/portfolio/vui.jpg)">
            <h1>Pluch</h1>
          </li>
          <li style="background-image: url(images/portfolio/logo-a.jpg)">
            <h1>Vpside down</h1>
          </li>
        </ul>
        <ul class="fs-navigation">
          <li class="active"><a href="pages/work-single.html">Wakey wakey</a></li>
          <li><a href="pages/work-single.html">Saints Bag</a></li>
          <li><a href="pages/work-single.html">67 Jewelry</a></li>
          <li><a href="pages/work-single.html">Nasty Paper</a></li>
          <li><a href="pages/work-single.html">Pluch</a></li>
          <li><a href="pages/work-single.html">Vpside down</a></li>
        </ul>
      </section>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/functions.js"></script>
  </body>
</html>