[submodule "unit_4_game"]
	path = unit_4_game
	url = https://github.com/itsgoodtobegrant/unit_4_game.git
[submodule "TriviaGame"]
	path = TriviaGame
	url = https://github.com/itsgoodtobegrant/TriviaGame.git
