<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ben - Responsive HTML5 Portfolio Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="../css/core.css">
    <link rel="stylesheet" type="text/css" href="../css/elements.css">
    <link rel="stylesheet" type="text/css" href="../css/custom.css">
    <link rel="icon" type="image/png" href="../favicon.png?version=4">
  </head>
  <body class="preload">
    <div class="container-fluid">
      <header>
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="col-md-12 text-center"><a href="../index.html" class="brand"><img alt="Ben" src="../images/logo.svg" class="default"><img alt="Ben" src="../images/logo-white.svg" class="white"></a>
              <ul class="main-nav">
                <li><a href="../index.html" title="Work">Work</a>
                </li>
                <li><a href="../pages/about.html" title="About" class="active">About</a>
                </li>
                <li><a href="../pages/blog.html" title="Blog">Blog</a>
                </li>
                <li><a href="../pages/contact.html" title="Contact">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <section class="content fadein">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <div id="sticky" class="col-md-12 col-sm-5">
                <div class="selfie"><img alt="Grant" src="../images/about/headshot.png" class="mt-lg"></div>
                <h4>Grant Bowen</h4>
                <table class="table mt-md">
                  <tr>
                    <td><strong>Age</strong></td>
                    <td>37</td>
                  </tr>
                  <tr>
                    <td> <strong>Position</strong></td>
                    <td>Entrepeneur</td>
                  </tr>
                  <tr>
                    <td> <strong>Base</strong></td>
                    <td>Seattle, WA</td>
                  </tr>
                  <!-- <tr>
                    <td> <strong>Awards</strong></td>
                    <td>3 Awwwards <br>1 Webby Award</td>
                  </tr> -->
                  <tr>
                    <td> <strong>Active on</strong></td>
                    <td> <a href="http://www.linkedin.com/grantmbowen">LinkedIn</a><a href="#">Twitter</a><a href="#">Dribbble</a><a href="#">Behance</a></td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="col-md-8">
              <div id="sticky-holder">
                <h1 class="animated-text">Born in Madrid and now living in Brooklyn, New York. Ben Bryden is an entrepeneur who enables the possibilities of your brand in a meaningful and aesthetic way.</h1>
                <p>When you starting a company you are thinking on how to cut expenses. One of such options to cut the startup costs is a company logo design. But is it good idea to order a cheap logo or work without company logo at all?</p>
                <p>Logo represents company’s identity. First impression is made by logo or its absence. To know the importance of a logo just answer one question: “How many big, leading and famous companies don’t have logos?” If you company doesn’t have a logo this can raise doubts and negative thoughts. If logo was made by non-professional designer or made by owner of the company it is sometimes worse than no logo at all.</p>
                <p>One of the popular questions is – why my logo should be custom? If logo is created with the use of a clipart (premade graphic elements from the public collections) it may look like or be identical to other logos and even your competitors’ logos. This will make identification of your company difficult or your logo may be easily mixed up with logo of another company. This situation may harm your reputation and money invested in marketing of your brand will be wasted. Good company logo reflects the main point of your company, its values and helps in successful development of the business. Also, it is important to distinguish the logo design for big companies and start-ups. Logo for the big company may consist only of a one graphic element (Nike swoosh) and it will be easily identifiable but for small company such logo is a bad idea because you will need to spent huge amounts of money to promote it.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="content mt-xl fadein">
        <div class="row-fluid">
          <div class="col-md-12 text-center">
            <h4>Latest project</h4>
          </div>
        </div>
        <div class="row-fluid">
          <div class="col-md-12"><a href="../pages/work-single.html" class="smooth"><img alt="Ben" src="../images/portfolio/yellow-book.jpg"></a></div>
        </div>
      </section>
      <footer>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 text-center"><span>&copy; Ben Template. <a href="https://themeforest.net/item/ben-creative-portfolio-html-template/19113557">Buy Ben</a></span></div>
          </div>
        </div>
      </footer>
    </div>
    <script src="../js/vendor.js"></script>
    <script src="../js/functions.js"></script>
  </body>
</html>