<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ben - Responsive HTML5 Portfolio Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="../css/core.css">
    <link rel="stylesheet" type="text/css" href="../css/elements.css">
    <link rel="stylesheet" type="text/css" href="../css/custom.css">
    <link rel="icon" type="image/png" href="../favicon.png?version=4">
  </head>
  <body class="preload">
    <div class="container-fluid">
      <header>
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="col-md-12 text-center"><a href="../index.html" class="brand"><img alt="Ben" src="../images/logo.svg" class="default"><img alt="Ben" src="../images/logo-white.svg" class="white"></a>
              <ul class="main-nav">
                <li><a href="../index.html" title="Work">Work</a>
                </li>
                <li><a href="../pages/about.html" title="About">About</a>
                </li>
                <li><a href="../pages/blog.html" title="Blog" class="active">Blog</a>
                </li>
                <li><a href="../pages/contact.html" title="Contact">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <section>
        <div class="container-fluid content"><a href="../pages/blog-single.html" class="fadein blog-item">
                    <h2>Beautiful gray</h2><img alt="Ben Template - made by Themanoid" src="../images/portfolio/architecture-1.jpg">
                    <div class="info">
                      <div class="author">By Ben Bryden on November 27, 2016</div>
                      <div class="tag">Design, Photography</div>
                    </div></a><a href="../pages/blog-single.html" class="fadein blog-item">
                    <h2>The other side of design</h2><img alt="Ben Template - made by Themanoid" src="../images/portfolio/face-side.jpg">
                    <div class="info">
                      <div class="author">By Ben Bryden on November 27, 2016</div>
                      <div class="tag">Productivity, Health</div>
                    </div></a><a href="../pages/blog-single.html" class="fadein blog-item">
                    <h2>Practice more and be crazy</h2><img alt="Ben Template - made by Themanoid" src="../images/portfolio/logo-a.jpg">
                    <div class="info">
                      <div class="author">By Ben Bryden on November 27, 2016</div>
                      <div class="tag">Productivity, Creativity</div>
                    </div></a>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="pagination mt-xl"><a href="#" class="disabled previous ion-ios-arrow-thin-left pull-left"></a><a href="../pages/blog.html" class="btn btn-default active">1</a><a href="../pages/blog.html" class="btn btn-default">2</a><a href="../pages/blog.html" class="btn btn-default">3</a><a href="../pages/blog.html" class="btn btn-default">4</a><a href="../pages/blog.html" class="btn btn-default">5</a><a href="#" class="next ion-ios-arrow-thin-right pull-right">  </a></div>
            </div>
          </div>
        </div>
      </section>
      <footer>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 text-center"><span>&copy; Ben Template. <a href="https://themeforest.net/item/ben-creative-portfolio-html-template/19113557">Buy Ben</a></span></div>
          </div>
        </div>
      </footer>
    </div>
    <script src="../js/vendor.js"></script>
    <script src="../js/functions.js"></script>
  </body>
</html>